streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-core
langchain-chroma
chromadb
protobuf==3.20.3
rank_bm25
networkx
sentence-transformers
pypdf
tavily-python
